<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Threshopt</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.2.0/github-markdown-light.min.css">
  <style>
    body {
      box-sizing: border-box;
      min-width: 200px;
      max-width: 980px;
      margin: 0 auto;
      padding: 45px;
    }
    pre {
      background-color: #f6f8fa;
      padding: 10px;
      border-radius: 6px;
      overflow-x: auto;
    }
  </style>
</head>
<body class="markdown-body">
  {{ content }}
</body>
</html>
